*{
	font-family: Segoe UI Light;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

body{
	
}

.background-wrapper{
	display: flex;
	max-height: 2000px; 
	background: url("../images/main-bg.jpg") no-repeat center fixed;
	background-size: cover;
	justify-content: center;
	text-align: center;
}

.main-content{
	height: 100%;
	width: 50%;
	margin-top: 10%;	
}

.main-content li{
	display: inline-flex;
	margin: 1%;
}

.main-content a{
	text-transform: capitalize;
	font-weight: bold;
	color: white;
	text-decoration: none;
	padding: 30px;
	background: rgba(0,0,0,.5);
	transition: .5s;
	width: 80px;
}

.main-content a:hover{
	background:rgba(0,0,0,.8);
}

.image.text{
	padding: 50px;
	background: rgba(0,0,0,.5);
	color: white;
}
